/* Effect 13: three circles */
.cl-effect-13 ul li a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.cl-effect-13 ul li a::before {
	position: absolute;
	top:75%;
	left: 50%;
	color: transparent;
	content: '.';
	text-shadow: 0 0 transparent;
	font-size:2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.cl-effect-13 ul li a:hover::before,
.cl-effect-13 ul li a:focus::before,ul.nav.navbar-nav li.active a::before{
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
    padding: 2em 0 0;
}
.navbar-brand {
    height: 50px;
    padding: 0;
    font-size: 1.2em;
    line-height: 45px;
	
	font-weight:700;
	font-family: 'Megrim', cursive;
}
.navbar-brand span {
    color: #337AB7;
    display: inline-block;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#337AB7;
    background: none;
}
.navbar-nav > li > a {
	padding:14px 30px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-collapse {
    padding: 0;
    border-top: none;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
    margin-left: 0em;
}
.navbar-nav {
	margin:0 0 0 8em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#337AB7;
}
.nav > li > a,.agile_short_dropdown li a {
	font-family: 'Varela Round', sans-serif;
}
.w3_agile_login{
	float:right;
}
.w3_agile_login a i {
    color: #fff;
    font-size: 1.5em;
    margin-top: 0.5em;
}
.information{
    margin-top: 20%;
    margin-left: 30%;
    color: white;
    border: 2px solid rgba(0,0,0,.5);
    padding: 20px;
    width: 30%;
    border-radius: 15px;
    color: white;
    background-color: rgba(0,0,0,.5);
    
    
}
.information  button{
    padding: 10px 50px;
    text-transform: capitalize;
    margin-top: 10px;
}
.aboutUs{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px ;
    margin-top: 50px;
    box-shadow: -1px 5px 30px rgba(0,0,0,.5);
    text-align: left
}
.aboutUs > h1{
    border-bottom: 1px solid black;
    text-transform: capitalize;
    
}
.journey{
    list-style-type: none;
}
.distance-line{
    margin-top: 50px;
}
.journey-time{
    font-size: 20px;
    background-color:#337AB7;
    width: 200px;
    margin-left:74px;
    padding: 5px 0px;
    color: white;
}
.journey-discription{
    border: 1px solid black;
    margin-top: 50px;
    text-align:left;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 1px 10px rgba(0,0,0,.5);
    animation: journey-trip;
    animation-play-state: running;
    animation-duration: 4s;
    background-color: azure;
    
}
@keyframes journey-trip-left{
    from {margin-left:-500px }
    to {margin-left:  0px}
}
@keyframes journey-trip{
    from {margin-left:100% }
    to {margin-left: 50%}
}
.journey-left{
    box-shadow: -5px 1px 10px rgba(0,0,0,.5);
    animation: journey-trip-left;
    animation-duration: 4s;
}

.news{
    margin-top: 60%;
    background-color: black;
    opacity: .7;
    transition: 1s;
}
.card:hover .news{
    margin-top: 0%;
    
    
    transition: 1s
}
.newsline{
    position: absolute;
    margin-top: 65%;
    color: white;
    transition: 1s;
}
.newsline h5{
   margin-left: 15px;
}
.newsline h3{
    text-align: center;
    text-transform: capitalize;
}
.card:hover .newsline{
    margin-top: 20%;
    transition: 1s;
}

.gallary{
    margin-top: 80%;
    background-color: black;
    opacity: .4;
    transition: 1s;
    
}
.card:hover .gallary{
     margin-top: 50%;
    transition: 1s
}

.gallary-info{
    position: absolute;
    margin-top: 85%;
    transition: 1s;
    color:white;
}
.card:hover .gallary-info{
    margin-top: 55%;
    transition: 1s;
}
.gallary-info h5{
    visibility: hidden;
    margin-left: 10px;
    transition: .1s;
}
.gallary-info h3{
    margin-left: 15px;
    transition: 1s;
}
.card:hover .gallary-info h5{
    
    visibility: visible;
    
    transition: 1s;
}

.footer{
    background-color: skyblue
}

.copyRight{
    margin-top: 30px;
    border-top:1px solid black;
    padding: 10px;
   
    
}
.contact > input,button,textarea{
    margin-top: 5px;
    margin-left: 40px;
}

.newsline > h3{
    text-align: center;
}
.newsRoom h2{
     margin: 20px 0px;
}
.headName{
    margin-bottom: 25px;
    margin-top: 100px;
}

.our-team >div{
   margin-top: 50px;
}
.card:hover .team-member-bio{
    background-color: black;
    opacity: .5
}
.card-t{
    display: none;
}
.card:hover .card-t{
    display: block;
   margin-top: 90%;
    margin-left: 20px;
   position: absolute;
    color: greenyellow;
    border-bottom: 1px solid white;
    
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    
}
.card-social-link{
    position: absolute;
    margin-top: 110%;
    margin-left: 20px;
}
.card-social-link > ul{
    list-style-type: none;
    
    
}
.card-social-link > ul > li{
    display: inline-block;
   
    
    
    
}
.card-social-link > a{
    margin-left: 40%;
    visibility: hidden;
}

.card-icon{
    
    font-size: 30px;
    color: white;
    padding: 0px 20px;
    
    visibility: hidden;
}
.card:hover .card-icon,.card:hover .card-social-link > a{
    
    
    visibility: visible;
    
}





.fb:hover{
    
    color: #3B5998;
    
    
}
.twt:hover{  
    
    color: #1DA1F2;
    
}
.googlePlus:hover{
   
    color: #DD4B39;
    
}

.property-header{
    padding: 10px;
}
.tab-con{
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.search{
    background-color: #337AB7;
    padding: 0px 10px 10px 0px;
    
    border-radius: 5px;
    box-shadow: 1px 1px 12px white;
    width: 90%;
    height: 220px;
    
}
.search > level{
   color: aliceblue;
    font-size: 40px;
    
}
.search>ul{
    
    list-style: none;
}
.search > ul > li{
    display: inline-block;
    
   
}
.search option{
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
@media screen and (min-width: 400px){
    #logo{
        font-size: 18px;
    }
    .nav-font > li > a{
        font-size: 12px;
    }
    #nav > div >  button{
        margin-left: 95%;
    }
}
@media screen and (min-width: 770px){
    .search > level{
   color: aliceblue;
    font-size: 15px;
    }
    .search{
   
    padding: 10px 0px 10px 0px;
    margin-left: 10%;
   
    
}
    #login{
       
        margin-left: 99%;
       
    }
    #logo{
        font-size: 18px;
    }
    .nav-font > li > a{
        font-size: 12px;
    }
    
}
@media screen and (min-width: 1200px){
    .search > level{
   color: aliceblue;
    font-size: 20px;
    }
    .search{
   
    padding: 10px 0px 10px 0px;
    margin-left: 20%;
    }
    #logo{
        font-size: 25px;
    }
    .nav-font > li > a{
        font-size: 12px;
    }
   
    
}


    
@media screen and (min-width: 1600px){
    .search > level{
   color: aliceblue;
    font-size: 30px;
    }
    .search{
   
    padding: 10px 0px 10px 0px;
    margin-left: 40%;
    
}
    #logo{
        font-size: 35px;
    }
    
    
.nav-font > li > a{
        font-size: 20px;
    }
}



.modal-dialog {
    width: 300px;
}

.modal-body .btn {
    font-weight: bold;
    width: 200px
}
.modal-body .progress {
    display: none;
    height: 32px;
    margin: 0;
}

.property-dialog{
    width: 70%;
    transform: translate(20%,50%)
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

#top-menu-background{
    background-color: black;
    opacity: .4;
    height: 120px;
    transition: .5s;
}

.img-setup img{
    height: 300px;
    width: 500px;
    
}
.img-setup .card{
    margin-bottom: 50px;
}
.contact-address h5{
    display: inline-block;
    margin-left: 10%;
}
.newsRoom > div > div > div > img{
    height: 360px;
}
.vision-mision-color{
    background-color: azure
}
.header-background{
    background-color: rgba(0,0,0,.4);
    height: 120px;
    width: 100%;
}

